.searchRow {
  grid-template-columns: 
  minmax(435px, 1fr)
  minmax(435px, 1fr)
  minmax(200px, 1fr)
  minmax(200px, 1fr)
  minmax(200px, 1fr);
}

.newsTable {
  grid-template-columns:
  minmax(80px, 1fr)
  minmax(175px, 1fr)
  minmax(160px, 1fr)
  minmax(129px, 1fr)
  minmax(164px, 1fr)
  minmax(91px, 1fr)
  minmax(105px, 1fr)
  minmax(88px, 1fr)
  minmax(129px, 1fr)
  minmax(104px, 1fr);
  .checkBoxWrapperNews {
    margin: 14px auto auto 25px;
  }
}

.titleNewsTable {
  max-width: 750px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.eventNewsContainer {
  position: relative;
  min-height: 620px;
}
