.searchRow {
  grid-template-columns: 
  minmax(300px, 1fr)
  minmax(440px, 1fr)
  minmax(440px, 1fr)
  minmax(300px, 1fr);
}

.newsTable {
  grid-template-columns:
  minmax(275px, 1fr)
  minmax(180px, 1fr)
  minmax(180px, 1fr)
  minmax(180px, 1fr)
  minmax(180px, 1fr)
  minmax(275px, 1fr)
  minmax(120px, 1fr)
  minmax(180px, 1fr);
  .checkBoxWrapperNews {
    margin: 14px auto auto 25px;
  }
}

.eventNewsContainer {
  position: relative;
  min-height: 620px;
}
