.searchRow {
  grid-template-columns: 
  minmax(242px, 1fr)
  minmax(244px, 1fr)
  minmax(244px, 1fr)
  minmax(215px, 1fr)
  minmax(215px, 1fr)
  minmax(300px, 1fr);
}

.newsTable {
  grid-template-columns:
  minmax(224px, 1fr)
  minmax(218px, 1fr)
  minmax(136px, 1fr)
  minmax(130px, 1fr)
  minmax(137px, 1fr)
  minmax(150px, 1fr)
  minmax(104px, 1fr)
  minmax(124px, 1fr)
  minmax(124px, 1fr);
  .checkBoxWrapperNews {
    margin: 14px auto auto 25px;
  }
}

.filterInput {
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #AFAFAF;
  border-radius: 3px;
}

div._select {
  padding: 0px 10px;
  font-size: 14px;
  border: 1px solid #AFAFAF;
  border-radius: 3px;
  max-height: 34px;
  min-height: 34px;
}

.eventNewsContainer {
  position: relative;
  min-height: 620px;
}
