.searchRow {
  grid-template-columns: 
  minmax(242px, 242px)
  minmax(266px, 242px)
  minmax(255px, 215px)
  minmax(255px, 1fr);
}

.newsTable {
  grid-template-columns:
  minmax(53px, 93px)
  minmax(190px, 190px)
  minmax(230px, 1fr)
  minmax(190px, 190px)
  minmax(190px, 190px)
  minmax(160px, 190px)
  minmax(360px, 1fr)
  minmax(150px, 1fr);
  .checkBoxWrapperNews {
    margin: 14px auto auto 25px;
  }
}

.titleNewsTable {
  margin-left: 15px;
}

.center {
  margin-left: 15px;
}

.date {
  display: flex;
  gap: 14px;
}

.flexEnd {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.eventNewsContainer {
  position: relative;
  min-height: 620px;
}
