.searchRow {
  grid-template-columns: 
  minmax(327px, 1fr)
  minmax(244px, 1fr)
  minmax(255px, 1fr)
  minmax(255px, 1fr)
  minmax(327px, 1fr);
}

.newsTable {
  grid-template-columns:
  minmax(420px, 1fr)
  minmax(286px, 1fr)
  minmax(150px, 1fr)
  minmax(286px, 1fr)
  minmax(180px, 1fr)
  minmax(248px, 1fr);
  .checkBoxWrapperNews {
    margin: 14px auto auto 25px;
  }
}

.eventNewsContainer {
  position: relative;
  min-height: 620px;
}
